// Кнопка Jivo
jdiv[class^=wrap__] {
  @include media-breakpoint-down(md) {
    bottom: 3.5rem;
  }
}

.vw_product {
  jdiv[class^=wrap__] {
    @include media-breakpoint-down(sm) {
      bottom: 7rem;
    }
  }
}

body[style*="hidden"] {
  jdiv {
    display: none !important;
  }
}