.module-cart-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  min-height: 50vh;
}

.module-cart-grid {
  display: grid;
  grid-gap: 1.25rem;

  @include media-breakpoint-up(md) {
    grid-template-columns: 3fr 1fr;
  }
}

.module-cart-checkout {
  position: sticky;
  top: var(--header-offset, 6rem);

  .btn {
    width: 100%;
  }
}


.module-cart-item {
  position: relative;
  display: grid;
  grid-gap: 1.25rem;
  grid-template-columns: 2fr 1fr 5fr;
  padding: 1.5rem 0;
  border-bottom: 1px solid var(--gray-400);

  &.not_available {
    opacity: 0.7;
  }
}

.cart-item__image {
  min-width: 9rem;
  width: 9rem;
}

.cart-item_quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media-breakpoint-down(lg) {
    margin-top: .5rem;
  }

  input,
  button {
    box-shadow: none;
    text-align: center;
    outline: 0;
  }

  button {
    min-width: 2.25rem;

    .svg {
      fill: var(--primary);
    }

    &:hover,
    &:focus-visible,
    &:focus {
      box-shadow: none;
      outline: 0;
    }
  }
}

.quantity_input {
  margin-left: .5rem;
  max-width: 3rem;
  border: none;
}
