.module-compare-scroll {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
}

.module-compare-scroll-inner {
  width: fit-content;
}

.module-compare {
  display: grid;
  grid-gap: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: minmax(14rem, 1fr);
  overflow-x: visible;
  padding: .25rem 0;

  @include media-breakpoint-up(md) {
    grid-gap: 1.25rem;
    grid-auto-columns: minmax(16rem, 1fr);
  }
}

.module-compare-products {
  width: fit-content;
  background-color: var(--white);
  transition: top .35s ease;

  &.is-compare-sticky-fixed {
    position: fixed;
    overflow: hidden;
    z-index: $zindex-sticky;
    margin-top: 0 !important;
  }
}

.module-compare-products-inner {
  will-change: transform;
}

.module-compare-products-spacer {
  display: block;
  width: 0;
  height: 0;
  pointer-events: none;
}

.compare-product {
  position: relative;

  > .badge {
    position: absolute;
    top: 0.5rem;
    left: 0;
  }

  &.compare-rating-1 .product-small-inline {
    border-bottom: .125rem solid $pink;
  }

  &.compare-rating-2 .product-small-inline {
    border-bottom: .125rem solid $yellow;
  }
}

.compare-group-title {
  position: sticky;
  display: inline-block;
  left: 0;
  font-size: 1.125rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.compare-group.is-hidden,
.compare-row.is-hidden {
  display: none;
}

.compare-field-title {
  position: sticky;
  display: inline-block;
  left: 0;
  color: var(--gray-700);

  &.mixed::before {
    display: inline-block;
    content: "";
    width: 0.375em;
    height: 0.375em;
    margin-right: 0.5em;
    vertical-align: middle;
    border-radius: 50%;
    background-color: var(--primary);
  }
}

.compare-value-list {

  > div {
    padding-bottom: .5rem;
    border-bottom: 1px solid var(--gray-400);

    &.is-best {
      border-color: var(--yellow);
    }
  }
}
