.module-consultation {
  fieldset {
    position: relative;
  }

  .btn {
    position: absolute;
    top: .125em;
    right: .125em;
    bottom: .125em;
    line-height: 1;
    width: 3em;
    padding: .5em;
    background-color: var(--blue-1) !important;

    > .svg {
      width: 1.5em;
      height: 1.5em;
    }
  }
}

.consultation-title {
  text-align: center;
  margin-bottom: 1em;
}

.consultation-confirm {
  font-size: .75em;
  font-weight: $font-weight-light;
}

.form_thank_you {
  display: none;

  &.active {
    display: block;
  }
}