.filter-toggle {
  position: relative;
  font-size: 1em;
  padding: .125em 1em;
  border-radius: .25em;
  cursor: pointer;
  background: var(--white);
  border: 1px solid var(--grey-3);
  box-shadow: 0 0 .125em 0 rgba(0, 0, 0, .25);

  small {
    position: absolute;
    top: -.75em;
    right: -.75em;
    color: var(--white);
    font-size: .75em;
    line-height: 1.5em;
    width: 1.5em;
    height: 1.5em;
    background-color: var(--red-2);
    border-radius: 50%;
  }

  @include media-breakpoint-up(lg) {
    padding: .25em 1.5em;
  }
}