.module-product {
  position: relative;
}

.product_image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-wrap: anywhere;
  min-height: 10em;
  padding: 1em;
  border-radius: 1em;
  border: 1px solid var(--blue-3);
  box-shadow: 0 0 1em 0 rgba(0, 102, 156, 0.2) inset;

  &:after {
    display: block;
    content: "";
    padding-top: 100%;
  }

  img {
    width: auto;
    max-height: 8em;

    @include media-breakpoint-up(md) {
      max-height: 10em;
    }
  }

  &:after {
    display: block;
    content: "";
    padding-top: 100%;
  }
}

.product_image_sale {
  border: 1px solid var(--red-3);
  box-shadow: 0 0 1em 0 rgba(156, 0, 0, 0.2) inset;
}

.product_labels {
  position: absolute;
  display: flex;
  flex-wrap: wrap-reverse;
  align-content: flex-start;
  max-height: 3.75em;
  min-height: 3.75em;
  max-width: 100%;
  left: 0.75em;
  right: 0.75em;
  bottom: 0.25em;
  overflow: hidden;
}

.product_label {
  display: inline-block;
  font-size: 0.75em;
  margin-top: .25em;
  margin-right: .25em;
  height: 1.5em;
  padding: 0 .25em;
  color: var(--white);
  border-radius: 0.25em;
  background-color: var(--red-2);

  .svg {
    margin-top: -0.125em;
    fill: var(--white);
  }
}

.product_discount_price {
  background-color: var(--yellow-1);
}
.product_part_type_1 {
  background-color: var(--green-2);
}
.product_part_type_2 {
  background-color: var(--green-3);
}
.product_part_type_3 {
  background-color: var(--green-2);
}
.product_part_type_4 {
  background-color: var(--blue-1);
}

.product_badges {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  left: -.75em;
  top: -.5em;
}
.product_badge {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: .25em .75em;
  border-radius: .5em .5em .5em 0;
  background-color: var(--black-1);
  color: var(--white);
  line-height: 1;
  margin-bottom: .25em;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 0;
    height: 0;
    border-top: .75em solid var(--black);
    border-left: .75em solid transparent;
  }
}
.badge_label_new {
  background-color: var(--green-1);

  &:before {
    border-top-color: #053C20;
  }
}
.badge_label_hit {
  background-color: var(--red-1);

  &:before {
    border-top-color: #bb4444;
  }
}


.product_tools {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  right: .25em;
  top: .75em;

  .btn {
    margin-bottom: .25em;
    background-color: var(--gray-200);
    border: none;
    padding: .25em .5em;
    opacity: .75;
    z-index: 2;

    &.active {
      background-color: var(--gray-300);
      opacity: 1;

      .svg {
        fill: var(--primary)
      }
    }
  }
}

.product_all_prices {
  position: relative;
}

.product_price {
  font-size: 1.5em;
  font-weight: $font-weight-bold;

  .currency {
    font-size: .5em;
    margin-left: .25em;
    text-transform: uppercase;
  }

  &.sale {
    color: var(--primary);

    .svg {
      width: 0.75em;
      height: 0.75em;
      margin-top: -.125em;
      fill: var(--primary);
    }
  }
}

.product_old_price {
  position: absolute;
  top: 0.5em;
  right: 0;
  color: var(--gray-100);
}

.product_title {
  font-size: 1em;
  line-height: 1;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0;

  .brand {
    text-transform: uppercase;
  }

  .model {
    font-weight: $font-weight-light;
    color: var(--gray-600);
  }
}

.product_prefix {
  font-size: .75em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 1em;
}

.product_not_available {
  text-transform: uppercase;
  margin-bottom: 1em;
}