.module-services {
  display: none;

  @include media-breakpoint-up(lg) {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(4, 1fr);
  }

  .service {
    font-size: 1em;
    position: relative;
    padding: 1em;
    background-color: #EED6BE;
    border-radius: 0.5em;

    img {
      overflow: hidden;
      max-width: 100%;
      height: auto;
      z-index: 1;
    }

    .service-title {
      font-size: 1.25em;
      font-weight: $font-weight-medium;
      z-index: $zindex-dropdown;
    }

    .service-description {
      color: var(--black-3);
      font-size: 1em;
      font-weight: $font-weight-light;
      margin-bottom: 1em;
      z-index: $zindex-dropdown;
    }

    &:nth-child(2) {
      background-color: #FBD2D7;
    }

    &:nth-child(3) {
      background-color: #D7FFF4;

      img {
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 80%;
      }
    }

    &:nth-child(4) {
      background-color: #CDE4FF;

      .service-description {
        max-width: 50%;
      }

      img {
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 60%;
      }
    }
  }
}