// -----------------------------------------------------------------------------
// Header Top panel
// -----------------------------------------------------------------------------
.header__top {
  background-color: var(--gray-300);
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;

  > .nav {
    --nav-link-color: var(--body-color);
  }
}

.header__location {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  font-weight: 500;
  text-decoration: none;
  white-space: nowrap;
  --btn-font-size: 1rem;

  &:hover {
    text-decoration: none;
  }
}

.header__phone {
  color: var(--black);
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    color: var(--link-hover-color);
    text-decoration: none;
  }

  @include media-breakpoint-down(sm) {
    display: none;
  }
}
