.btn {
  svg {
    vertical-align: -.25em;

    @include media-breakpoint-up(md) {
      width: 1.25em;
      height: 1.25em;
    }
  }
}

.btn-nav-link {
  position: relative;
  display: block;
  width: 100%;
  text-align: left;
  padding-left: 0;
  padding-right: 0;
  color: var(--black);
  text-decoration: none;
  border-radius: 0;
  border-top: 1px solid var(--gray-400);
  border-bottom: 1px solid var(--gray-400);

  & + .btn-nav-link {
    border-top: none;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: .5rem;
    margin-top: -0.125rem;
    width: .5rem;
    height: .5rem;
    border-top: .125rem solid var(--black);
    border-right: .125rem solid var(--black);
    transform: rotate(45deg) translate(0, -50%);
  }
}

.btn-light {
  --btn-hover-color: var(--danger);
  --btn-hover-bg: var(--light);
  --btn-hover-border-color: var(--light);
  --btn-active-color: var(--primary);
  --btn-active-bg: var(--pink);
  --btn-active-border-color: var(--pink);
  --btn-disabled-color: var(--black);
  --btn-disabled-bg: var(--gray-600);
  --btn-disabled-border-color: var(--gray-600);
}

.btn-outline-primary {
  --btn-hover-color: var(--primary);
  --btn-hover-bg: var(--pink);
  --btn-active-color: var(--primary);
  --btn-active-bg: var(--pink);
  --btn-active-border-color: var(--pink);
  --btn-disabled-color: var(--gray-600);
  --btn-disabled-border-color: var(--gray-600);
}

.btn-tools {
  --btn-color: var(--black);
  --btn-padding-x: 0;
  text-decoration: none;

  &:after {
    display: none;
  }
}

.btn-telegram {
  --btn-color: var(--white);
  --btn-bg: #3390ec;
  --btn-border-color: #3390ec;
  --btn-hover-color: var(--white);
  --btn-hover-bg: color-mix(in srgb, #000 15%, #3390ec 100%);
  --btn-hover-border-color: color-mix(in srgb, #000 20%, #3390ec 100%);
  --btn-active-color: var(--white);
  --btn-active-bg: color-mix(in srgb, #000 20%, #3390ec 100%);
  --btn-active-border-color: color-mix(in srgb, #000 25%, #3390ec 100%);
}

.btn-viber {
  --btn-color: var(--white);
  --btn-bg: #7360f2;
  --btn-border-color: #7360f2;
  --btn-hover-color: var(--white);
  --btn-hover-bg: color-mix(in srgb, #000 15%, #7360f2 100%);
  --btn-hover-border-color: color-mix(in srgb, #000 20%, #7360f2 100%);
  --btn-active-color: var(--white);
  --btn-active-bg: color-mix(in srgb, #000 20%, #7360f2 100%);
  --btn-active-border-color: color-mix(in srgb, #000 25%, #7360f2 100%);
}