@media screen and (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }
}

:root {
  scroll-behavior: smooth;

  // Disable smooth scroll when the user has set "prefers-reduced-motion"
  @media screen and (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }

  &:has(.sticky-top) {
    [id] {
      scroll-margin-top: 10em;
    }
  }
}

body {
  position: relative;
  min-height: 100vh;
  font-size: $font-size;

  @include media-breakpoint-up(xxl) {
    //font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 16) + 16px);
    font-size: calc((100vw - 30rem)/(80 - 30) * (1.25 - 1) + 1rem);
  }
}

img {
  max-width: 100%;
  height: auto;
}

// SVG иконки
svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
}

// Для логотипов без ссылки
[data-logo-click] {
  cursor: pointer;
}