.module-navigator {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3.25rem;
  color: var(--gray-600);
  padding: .5rem;
  background-color: var(--white);
  z-index: $zindex-sticky;

  .header__button-label {
    display: none;
  }
}

.navigator-container {
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(5, 1fr);

  @include media-breakpoint-down(sm) {
    gap: 0;
    grid-template-columns: repeat(4, 1fr);
  }
}

.navigator-element {
  text-align: center;

  svg {
    width: 1.75rem !important;
    height: 1.75rem !important;
    fill: var(--gray-600);
  }
}

@include media-breakpoint-up(md) {
  .module-navigator {
    display: none;
  }
}
