// =============================================================================
// Карточки для списка категорий
// =============================================================================
.catalog__card {
  position: relative;
  text-decoration: none;
}

.catalog__card-img {
  overflow: hidden;
  border-radius: $border-radius-lg;
}

.catalog__card-title {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  margin-top: .5rem;

  .catalog__card:hover & {
    color: var(--primary);
  }
}

.category-products-count {
  color: var(--gray-600);
}
