.mod-breadcrumbs__wrapper {
  margin-bottom: 1.25rem;
  --breadcrumb-margin-bottom: 0;

  @include media-breakpoint-up(lg) {
    margin-top: -.25rem;
    margin-bottom: 2rem;
  }
}

.com_ishop.vw_category {
  .mod-breadcrumbs__wrapper {
    //padding-top: 1rem;
  }
}

.vw_product {
  .mod-breadcrumbs__wrapper {
    margin-top: -1rem;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}

.mod-news {
  padding: 1.25rem;
  background-color: var(--gray-200);
  border-radius: 1.5rem;
}

.mod-news-title {
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

.mod-articles-items hr {
  border-color: var(--gray-600);
}

.mod-articles-title {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.mod-articles-link {
  color: var(--gray-800);
  text-decoration: none;

  &:hover {
    color: var(--black);
  }
}

.mod-articles-date {
  color: var(--gray-600);
}

.pagination {
  li {
    margin-left: .5rem;
  }

  .page-link {
    border-radius: var(--pagination-border-radius);
  }
}