// =============================================================================
// Маленькая карточка товара для списков
// =============================================================================
.product-small-inline {
  padding: 2rem 0 .875rem;
}

.product-small-inline__body {
  display: grid;
  grid-template-columns: 3rem 1fr 1.75rem;
  gap: .5rem;
  margin-bottom: .5rem;

  .product-price-box {
    font-size: .75rem;
  }

  .product-small__title {
    font-size: .75rem;
    line-height: 1.2;
    height: 1.8rem;
    max-height: 1.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: .25rem;
    margin-bottom: 0;
  }
}

.product-small-inline__image {
  position: relative;
  overflow: hidden;
  overflow-wrap: anywhere;
  border-radius: .5rem;
}

.product-small-inline__info {
  position: relative;
  margin-bottom: .5rem;
}

.product-small-inline__link {
  &:after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}