.payment-part {
  padding: 1.25rem;
  background-color: var(--gray-200);
  border-radius: 1.5rem;

  @include media-breakpoint-up(md) {

  }
}

.payment-part-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  line-height: 1.2;
  margin-bottom: 1rem;

  img {
    margin-right: .75rem;
  }

  svg {
    min-width: 2rem;
    width: 2rem;
    height: 2rem;
    margin-right: .75rem;
  }

  .payment-part-header {
    font-size: 1.25rem;
    font-weight: $font-weight-medium;
  }

  .payment-part-desc {
    color: var(--gray-800);
  }

  @include media-breakpoint-up(lg) {
    svg {
      min-width: 3rem;
      width: 3rem;
      height: 3rem;
    }
  }

  @include media-breakpoint-down(sm) {
    img,
    svg {
      display: none;
    }
  }
}