// =============================================================================
// Кнопки управления товаром
// =============================================================================
.product_tools {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  right: 0;
  top: 0;

  .btn {
    background-color: rgba(var(--white-rgb), 0.75);
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: .325em .625em;
    z-index: 2;

    &:first-child {
      border-bottom-left-radius: 0;
    }

    svg {
      fill: var(--gray-800);
    }

    &:hover,
    &.active,
    &:focus {
      svg {
        fill: var(--primary);
      }
    }
  }
}

// Управление количеством товара в корзине
.btn[data-original-html].active {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  overflow: hidden;
}