// =============================================================================
// Метки товаров (Новинка, хит, рассрочка, кредит, не выпускается и т.д.)
// =============================================================================
.product__labels {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  left: 0;
  top: 0;
  z-index: 1;
}
.product__label {
  font-size: .75rem;
  line-height: 1;
  color: var(--white);
  padding: .25rem .75rem;
  border-radius: 0 1rem 1rem 0;
  background-color: var(--black);

  .svg {
    margin-top: -0.125em;
    fill: var(--white);
  }

  &.label_new {
    background-color: var(--green);
  }
  &.label_hit {
    background-color: var(--primary);
  }
  &.label_1 {
    background-color: var(--cyan);
  }
  &.label_2 {
    background-color: var(--teal);
  }
  &.label_3 {
    background-color: var(--yellow);
  }
  &.label_4 {
    background-color: var(--pink);
  }
  &.label_5 {
    background-color: var(--purple);
  }
}