// =============================================================================
// Маленькая карточка товара для списков
// =============================================================================
.product-small {
  position: relative;
}

.product-small__body {
  position: relative;
}

.product-small__image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow:hidden;
  overflow-wrap: anywhere;
  min-height: 10em;
  padding: 1em;
  border-radius: 1em;
  border: 1px solid var(--border-color);
  box-shadow: var(--box-shadow-sm);

  &:after {
    display: block;
    content: "";
    padding-top: 100%;
  }

  img {
    width: auto;
    max-height: 8em;

    @include media-breakpoint-up(sm) {
      max-height: 10em;
    }

    @include media-breakpoint-up(md) {
      max-height: 12em;
    }
  }

  &:after {
    display: block;
    content: "";
    padding-top: 100%;
  }

  &.sale {
    box-shadow: 0 0 1em 0 rgba(156, 0, 0, 0.2) inset;
  }
}

.product-small__title {
  font-size: 1em;
  line-height: 1;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0;

  .brand {
    text-transform: uppercase;
  }

  .model {
    font-weight: $font-weight-light;
    color: var(--gray-800);
  }
}

.product-small__prefix {
  color: var(--gray-700);
  font-size: .75em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 1em;
}

.product-small__not_available {
  color: var(--primary);
  text-transform: uppercase;
  margin-bottom: 1em;
}

.product-small__link {
  &:after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}