// =============================================================================
// Цена товара
// =============================================================================
.product-price-box {
  display: flex;
  align-items: center;
  font-size: .75rem;
  text-wrap: nowrap;

  @include media-breakpoint-up(sm) {
    font-size: 1rem;
  }

  .price {
    display: flex;
    align-items: center;
    font-size: 1em;
    font-weight: 500;

    &.sale {
      color: var(--primary);
    }

    @include media-breakpoint-up(md) {
      font-size: 1.375em;
    }

    @include media-breakpoint-up(xl) {
      font-size: 1.5em;
    }
  }

  .old-price {
    display: flex;
    align-items: center;
    font-size: .875em;
    color: var(--gray-600);
    margin-left: .375em;

    @include media-breakpoint-up(md) {
      font-size: 1em;
    }
  }

  .currency {
    font-size: .875em;
    margin-left: .125em;
    text-transform: uppercase;
  }

  .badge {
    font-weight: 400;
    margin-left: .375em;
  }
}

.product-full__prices {
  display: flex;
  align-items: center;
}

.product-full__price {
  font-size: 2.5em;
  font-weight: 700;

  .currency {
    font-size: .75em;
    margin-left: .25em;
    text-transform: uppercase;
  }

  svg {
    width: 1em;
    height: 1em;
    margin-top: -.125em;
    fill: var(--primary);
  }

  &.sale {
    color: var(--primary);
  }
}

.product-full__old-price {
  font-size: 1.25em;
  color: var(--gray-500);
  margin-left: 1em;

  .currency {
    font-size: .75em;
  }
}