.payment-part {
  padding: 1em 0.5em;
  margin-bottom: 1em;
  background: var(--white);
  border-radius: 1em;
  border: 1px solid var(--blue-3);
  box-shadow: 0 0 1em 0 rgba(0, 102, 156, 0.2) inset;

  @include media-breakpoint-up(sm) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  @include media-breakpoint-up(md) {
    padding: 1em;
  }
}

.payment-part-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  line-height: 1.2;
  margin-bottom: 1em;

  svg {
    min-width: 2em;
    width: 2em;
    height: 2em;
    margin-right: 1em;
  }

  .payment-part-header {
    font-size: 1.25em;
    font-weight: $font-weight-medium;
  }

  @include media-breakpoint-up(sm) {
    display: block;
    min-width: 40%;
    width: 40%;

    .svg {
      min-width: 3em;
      width: 3em;
      height: 3em;
      margin-bottom: .5em;
    }

    .payment-part-desc {
      font-size: .75em;
    }
  }

  @include media-breakpoint-up(md) {
    display: flex;
    min-width: 50%;
    width: 50%;

    .svg {
      min-width: 4em;
      width: 4em;
      height: 4em;
    }
  }

  @include media-breakpoint-up(lg) {
    min-width: 35%;
    width: 35%;

    .payment-part-desc {
      font-size: 1em;
    }
  }

  @include media-breakpoint-up(xl) {
    min-width: 30%;
    width: 30%;
  }
}
