.module-cart {
  position: relative;
  display: inline-block;
  padding: 0;
  font-size: 1em;
  line-height: 1;
  margin-left: 1em;

  color: var(--black);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border-color: transparent;
  box-shadow: 0 0 0 #000;

  a,
  a:hover,
  a:active,
  a:focus {
    color: var(--black);
    text-decoration: none;
  }

  svg {
    width: 2em;
    height: 2em;
  }

  h3 {
    display: block;
    font-size: 1em;
    line-height: 1;
    margin: 0.25em 0 0;
    font-weight: $font-weight-medium;
  }

  small {
    position: absolute;
    top: .125em;
    left: 55%;
    color: var(--white);
    font-size: .75em;
    line-height: 1.5em;
    width: 1.5em;
    height: 1.5em;
    background-color: var(--primary);
    border-radius: 50%;
  }

  span {
    position: absolute;
    left: -999rem;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}