.module-cart-grid {
  display: grid;
  grid-gap: 2em;

  @include media-breakpoint-up(lg) {
    grid-gap: 4em;
    grid-template-columns: 5fr 3fr;
  }
}

.module-cart-checkout {
  position: sticky;
  top: 12em;

  .btn {
    width: 100%;
  }
}

.module-cart-info {
  font-size: 1.25em;
  padding: 1.5em;
  border-radius: 1.5em;
  border: 1px solid var(--gray-400);
  box-shadow: 0 0 1em var(--white), 0 0 .25em var(--black);

  & + div {
    margin-top: 2em;
    padding: 0 1.5em;
  }

  hr {
    border-color: var(--gray-400);
  }

  .cart-price {
    .currency {
      text-transform: uppercase;
      margin-left: .25em;
    }
  }
}
