// =============================================================================
// Advantages block
// =============================================================================
.advantages {
  --advantages-card-bg: var(--gray-300);
}

.advantages__brand,
.advantages__item {
  background-color: var(--advantages-card-bg);
}

.advantages__brand {
  position: relative;
  min-height: 24rem;
  isolation: isolate;

  h3 {
    position: relative;
    z-index: 1;
    max-width: 29rem;
    margin-bottom: 2rem;
    color: var(--gray-800);
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.15;

    span {
      display: block;
      color: var(--primary);
    }
  }

  p {
    position: relative;
    z-index: 1;
    max-width: 24rem;
    margin-bottom: 2rem;
    color: var(--gray-800);
    line-height: 1.35;
  }

  img {
    display: block;
    height: auto;
  }
}

.advantages__item {
  min-height: 12rem;
}

.advantages__media {
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  min-height: 3.75rem;
  margin-bottom: 1.25rem;

  img,
  svg {
    width: 3.75rem;
    height: 3.75rem;
    object-fit: contain;
  }

  svg {
    fill: currentColor;
  }
}

.advantages__title {
  font-weight: 600;
  line-height: 1.2;
}

.advantages__text {
  max-width: 18rem;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.25;
}

@include media-breakpoint-up(md) {
  .advantages__brand {
    h3 {
      font-size: 2.125rem;
    }

    p {
      max-width: 21rem;
    }

    img:first-of-type {
      position: absolute;
      width: 12rem;
      max-width: 50%;
      bottom: 2.25rem;
      left: 2.5rem;
      z-index: 1;
      margin: 0;
    }

    img:last-of-type {
      position: absolute;
      right: 1rem;
      bottom: .75rem;
      z-index: 0;
      width: 20rem;
      max-width: 50%;
      margin: 0;
      margin-left: auto;
    }
  }
}

@media (width >= 1240px) {
  .advantages__brand {
    h3 {
      font-size: 2.5rem;
    }

    img:last-of-type {
      right: 1.75rem;
      width: 21rem;
    }
  }
}
